<!DOCTYPE html>
<html>
<title>Web-BasedPlagiarismChecker</title>
<style>
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: blue;
}
textarea {
  width: 500px;
  height: 150px;
  font-size: 11px;
}
</style>
<body>

<h2>Web-BasedPlagiarismChecker</h2>

<form action="/report" method="POST">
  <label>Paste your text here:</label><br>
  <textarea for="fname" name='text' rows="2"></textarea>
  <br>
  <button type="Submit" value="Send">Generate Report</button>
</form> 

<p>Capstone Project by Hackstreet Boys.</p>

<p>The longer the text, the longer it takes.</p>

</body>
</html>
